.s-grid {
  margin-left: calc(50% - 50vw + var(--s-gap));
  margin-right: calc(50% - 50vw + var(--s-gap));
  &.-d1 {
    grid-template-columns: minmax(0, 1fr);
  }
  &.-d2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  &.-d3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  &.-d4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  &.-d5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  &.-d6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  @media (min-width: 1200px) {
    margin-left: calc(50% - var(--s-container-width) / 2 + var(--s-gap));
    margin-right: calc(50% - var(--s-container-width) / 2 + var(--s-gap));
  }
  &.-small {
    margin-left: 0;
    margin-right: 0;
  }
}
