// FORM
input,
select,
textarea {
  max-width: 100%;
  border: 1px solid var(--s-border-1);
  transition: 0.3s ease;
  background: inherit;
  color: inherit;
  font-size: 1rem;
  padding: 0.375em 0.5em;
  line-height: 1.3;
  border-radius: var(--s-rounded-1);
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
