.alignfull,
.alignwide {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  max-width: 100vw;
  width: unset;
}

.alignwide {
  @media (min-width: 1024px) {
    margin-left: calc(50% - 50vw + var(--s-gap));
    margin-right: calc(50% - 50vw + var(--s-gap));
  }
  @media (min-width: 1200px) {
    margin-left: calc(50% - var(--s-container-width) / 2 + var(--s-gap));
    margin-right: calc(50% - var(--s-container-width) / 2 + var(--s-gap));
  }
}
.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: var(--s-space);
  margin-bottom: var(--s-space);
}
.wp-block-image {
  &.alignfull,
  &.alignwide {
    margin-top: var(--s-space);
    margin-bottom: var(--s-space);
  }
}
.wp-block-pullquote {
  border-top: 4px solid;
  border-bottom: 4px solid;
  padding: 2.6rem 0 1.6rem;
  margin-top: calc(var(--s-space) * 1.25);
  margin-bottom: calc(var(--s-space) * 1.25);
  p {
    font-size: 1.25em;
  }
}

.has-background {
  background-color: var(--s-bg-2);
  padding: calc(var(--s-gap) * 1.25) calc(var(--s-gap) * 1.5);
  margin-top: var(--s-space);
  margin-bottom: var(--s-space);
}
div.has-background {
  padding-bottom: calc(var(--s-gap) * 1.25 - 1rem);
}

.has-color-1-background-color {
  background-color: var(--s-color-1);
}
.has-color-1-color {
  color: var(--s-color-1);
}
.has-color-2-background-color {
  background-color: var(--s-color-2);
}
.has-color-2-color {
  color: var(--s-color-2);
}
.has-color-3-background-color {
  background-color: var(--s-color-3);
}
.has-color-3-color {
  color: var(--s-color-3);
}
.has-color-4-background-color {
  background-color: var(--s-color-4);
}
.has-color-4-color {
  color: var(--s-color-4);
}
.has-color-5-background-color {
  background-color: var(--s-color-5);
}
.has-color-5-color {
  color: var(--s-color-5);
}
.has-color-6-background-color {
  background-color: var(--s-color-6);
}
.has-color-6-color {
  color: var(--s-color-6);
}
.has-text-1-background-color {
  background-color: var(--s-text-1);
}
.has-text-1-color {
  color: var(--s-text-1);
}
.has-text-2-background-color {
  background-color: var(--s-text-2);
}
.has-text-2-color {
  color: var(--s-text-2);
}
.has-bg-1-background-color {
  background-color: var(--s-bg-1);
}
.has-bg-1-color {
  color: var(--s-bg-1);
}
.has-bg-2-background-color {
  background-color: var(--s-bg-2);
}
.has-bg-2-color {
  color: var(--s-bg-2);
}
.has-border-1-background-color {
  background-color: var(--s-border-1);
}
.has-border-1-color {
  color: var(--s-border-1);
}
.has-border-2-background-color {
  background-color: var(--s-border-2);
}
.has-border-2-color {
  color: var(--s-border-2);
}
