.cover {
  line-height: 0;
  position: relative;
  padding-top: 66.666666%;
  img {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
  }
}
