.item {
  h2 {
    font-size: 1.25em;
    margin: 1rem 0 0.5rem;
  }
}
.excerpt {
  font-size: 0.9375em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
